<h1>Edit your profile</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited from saving your changes:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="image-preview my-4">
      <%= image_tag @user.avatar.url(:medium) %>
    </div>
    <%= form.file_field :avatar, class: 'image-input' %>
  </div>

  <div class="form-group">
    <%= form.label :name, class: 'control-label' %>
    <%= form.text_field :name, id: :user_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email, class: 'control-label' %>
    <%= form.email_field :email, id: :user_email, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', @user, class: 'btn btn-secondary' %>
  </div>
<% end %>

<div class="my-5">

