<!DOCTYPE html>
<html>
  <head>
    <title>Tweeter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container pt-5" id="main-container">
      <main mb-5>
        <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: "alert alert-#{name == 'notice' ? 'info' : 'danger'}") %>
        <% end %>

        <%= yield %>
      </main>

      <footer class="footer mt-auto">
        <hr>
        <p>© The Tweet Monsters 2017</p>
      </footer>
    </div>
  </body>
</html>
